<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <img src="../public/images/logo-mercado-liebre.svg"/>
        <p>Lugar para poner la barra de busqueda</p>
        <p>Compra en cuotas y sin tarjeta de credito</p>
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
        </nav>
    </header>
    <main>
        <section>

        </section>
        <section>
            
        </section>
    </main>
    <footer></footer>
</body>
</html>