:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris_oscuro: #666;
    --gris_claro: #ebebeb;
    --verde: #39b54a;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--gris_claro);
}

header{
    background-color: var(--amarillo);
    width: 100%;
}

p.precio{
    font-size: 18px;
}

p.descuentos{
    font-size: 16px;
}

h4.descripciones {
    font-size: 16px;
    /*ocultar de la vista la descripcion */
    display: none;
}

h3.titulares{
    font-size: 24px;
}

.icono{
    width: 70%;
    margin-bottom: 10px;
}

.barra-busqueda{
    background-color: #fff;
    border: 1px solid var(--gris_oscuro);
    margin: 4px;
    height: 30px;
}

.div-logo{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    width: 80%;
}

.div-lupa{
    width: 8%;
    background-color: #fff;
    margin :4px;
    border: 1px solid gray;
    height: 30px;
    text-align: center;
}

.div-lupa i{
    margin-top: 5px;
    color: var(--gris_oscuro);
}

.slogan-div{
    margin-left: 70px;
}

.slogan{
    display: inline-block;
   
   
}

header ul{
    margin-left: 0;
    padding-left: 0;
    display: none;
}

header ul li{
    text-decoration: none;
}

header ul li a {
    text-decoration: none;
    color: black;
    margin-right: 4px;
}

.burger-menu{
    display: inline-block;
    background-color: var(--celeste);
    border: 2px solid #fff;
    border-radius: 4px;
    justify-content: center;
    margin-left: 140px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 5px;
    margin-bottom: 20px;
}

.lines-menu{
    padding: 10px 10px 10px 10px;
    color: #fff;
    font-size: 20px;

}
/*----------------------------------------------------------------*/

/*footer*/ 

footer{

    width: 90%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    margin: 0 auto;
  padding-bottom: 10px;

    
}

footer i{
    font-size: 2em;
    margin-left: 130px;
    color: var(--celeste);
    padding-top: 20px;
    padding-bottom: 10px;
}

/* main */

main {
    width: 90vw;
    margin: 0 auto;
    background-color: var(--gris_claro);
  
}

.div-banner img{
    width: 100%;
}

main article{
    margin-bottom: 10px;
    
}

article img{
    width: 100%;

}

.div-description{
   text-align: center;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: #fff;
}

/* media queries */

@media (min-width: 361px){
    header ul{
        display: block
    }
    .burger-menu{
        display: none;
    }
    h4.descripciones{
        display: block;
    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}


@media (min-width: 769px){
    header ul{
        display: block
    }
    .burger-menu{
        display: none;
    }
    h4.descripciones{
        display: block;
    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}